body {font-family: 'Open Sans', sans-serif;font-weight:400;font-size:24px;background:#101113;color:#101113;}
a, a:hover, a:visited, a:active {text-decoration: none;}
h1, h2, h3, h4, h5, h6 {font-family: 'Braah One', sans-serif;line-height:0.85;}
h1, h2, h5, h6 {text-transform:uppercase;}

.img-responsive {margin:0 auto;}
.pos {position:relative;}
.ultra-wrap {max-width:1920px;margin:0 auto;}
.float-left {float:left;}
.float-right {float:right;}
.clearfix {float:none;}

.black {color:#101113;}
.white {color:#fff;}
.green {color:#8abd59;}
.pink {color:#ed2490;}
.purple {color:#814a9d;}
.red {color:#ef4952;}
.green_bg {background-color:#8abd59;}
.pink_bg {background-color:#ed2490;}
.purple_bg {background-color:#814a9d;}
.red_bg {background-color:#ef4952;}

.cta {padding:0;position:relative;}
.cta-btn {
	display:block;
	width:100%;
	height:70px;
	line-height:64px;
	margin:10px 0;
	font-family: 'Bruno Ace SC', cursive;
	color:#101113;
	text-align:center;
	text-transform:uppercase;
	border-radius:15px;
	font-size:30px;
	border:4px solid #101113;
}
.cta-btn:hover {color:#101113;}

.hbox {
	position:relative;
	background:#fff;
	-webkit-box-shadow:0 0 13px rgba(0,0,0,0.15);
	box-shadow:0 0 13px rgba(0,0,0,0.15);
}
.hbox .line {
	position:absolute;
	width:calc(100% - 60px);
	height:10px;
	background:#101113;
	bottom:-5px;
	left:50%;
	transform:translateX(-50%);
}
/* ----END SITEWIDE	---- */

.hero {background:url(../img/bg_1.webp) center top no-repeat #101113;}
.hero-b {background:url(../img/bg_2.webp) center bottom no-repeat;padding:60px 0 100px;}
.tier-3 {background:url(../img/bg_3.webp) center top no-repeat #fff;min-height:1470px;}
.tier-4 {background:url(../img/bg_4.webp) center top no-repeat;height:250px;}
.tier-5 {background:url(../img/bg_5.webp) center top no-repeat #fff;min-height:600px;}
.tier-6 {background:url(../img/bg_6.webp) center bottom no-repeat #fff;min-height:1700px;padding-top:100px;}


.tier-7 {background:url(../img/bg_insta.webp) center bottom no-repeat;min-height:300px;padding-bottom:150px;}

.tier-7 .hbox {margin-top:-170px;}
.tier-7 .col-sm-4 {padding:0;position:relative;}
.tier-7 .adj-1 {margin-top:-4%;}
.tier-7 .blurb {
	position:absolute;
	font-family: 'Braah One', sans-serif;
	font-size:30px;
	text-align:center;
	text-transform:uppercase;
	line-height:0.85;
	color:#fff;
	background:#101113;
	padding:5px;
	width:100%;
	bottom:0;
	left:0;
	border:4px solid #fff;
}

.insta-logo {
	position:absolute;
	top:0;
	left:50%;
	transform: translate(-50%,-50%);
}

footer {background:url(../img/bg_f.webp) center top no-repeat;min-height:300px;padding:40px 0;color:#fff;}
footer a, footer a:hover, footer a:active {color:#fff;}
footer .adj-1 {font-size:24px;}
footer .adj-2 {margin-top:70px;}
footer .adj-3 p {font-size:14px;}
footer .adj-4 p {font-size:18px;}


@media (min-width: 1921px) {.ultra-wrap {-webkit-box-shadow:0 0 50px rgba(0,0,0,0.35); box-shadow:0 0 50px rgba(0,0,0,0.35);}}
@media (max-width: 1750px) {.tier-7 .blurb {font-size: 20px;}}
@media (max-width: 1199px) {
	body {font-size:18px;}
	.tier-7 .hbox {margin-top: -125px;}
	.tier-7 .blurb {font-size: 16px;}
	.insta-logo {width: 120px;}
	footer {padding: 45px 0;}
	footer .adj-1 {font-size: 20px;}
}
@media (max-width: 991px) {
	body {font-size:14px;}
}
@media (max-width: 767px) {
	.hero, .tier-2, .tier-3, .tier-4, .tier-5, .tier-6, .tier-7, .tier-8 {height:auto;}
	body {font-size:14px;}
	.tier-7 {padding-bottom: 100px;background-size: 780px;}
    .insta-logo {width: 15%;}
    footer {background-image:none;background-color:#000;}
    footer .adj-4 {margin-top:30px;}
}